POSTGRES_DB=postgres_db_name
POSTGRES_USER=postgres_db_user
POSTGRES_PASSWORD=postgres_db_passwd
DATABASE_URL="postgresql://postgres_db_user:postgres_db_passwd@localhost:5432/postgres_db_name?schema=public"

JWT_ACCESS_EXPTIME="15m"
JWT_REFRESH_EXPTIME="7d"
JWT_ACCESS_SECRET="JWT_ACCESS_TOKEN_SECRET"
JWT_REFRESH_SECRET="JWT_REFRESH_TOKEN_SECRET"